.component1-container {
  display: flex;
  position: relative;
}
.component1-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .component1-text {
    font-size: 3rem;
  }
  .component1-text2 {
    color: var(--dl-color-scheme-yellow80);
  }
}
@media(max-width: 991px) {
  .component1-text {
    font-size: 3rem;
    text-align: center;
  }
  .component1-text2 {
    color: var(--dl-color-scheme-lightgreen);
  }
}
@media(max-width: 767px) {
  .component1-text {
    text-align: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: #000000;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text01 {
  color: var(--dl-color-scheme-lightgreen);
  margin-right: var(--dl-space-space-twounits);
}
.home-text02 {
  color: var(--dl-color-scheme-lblue);
  display: none;
  margin-right: var(--dl-space-space-twounits);
}
.home-text03 {
  color: var(--dl-color-scheme-lblue);
  display: none;
  margin-right: var(--dl-space-space-twounits);
}
.home-button {
  color: var(--dl-color-scheme-blackish);
  border-color: var(--dl-color-scheme-lightgreen);
  border-width: 0px;
  background-color: var(--dl-color-scheme-lblue);
}
.home-link {
  color: var(--dl-color-scheme-white);
  text-decoration: none;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-hero {
  height: 437px;
  background-color: var(--dl-color-scheme-lblue);
}
.home-max-width1 {
  width: 1200px;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-title {
  color: var(--dl-color-scheme-white);
  width: 713px;
  font-size: 52px;
  font-style: normal;
  margin-top: 45px;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 43px;
}
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-link1 {
  text-decoration: none;
}
.home-container01 {
  flex: 0 0 auto;
  width: 359px;
  height: 347px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image01 {
  width: 100%;
  height: 394px;
  object-fit: cover;
}
.home-section {
  height: 558px;
  display: none;
  align-items: center;
  justify-content: center;
}
.home-max-width2 {
  width: 877px;
  align-items: stretch;
}
.home-content1 {
  width: 392px;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  width: 405px;
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text12 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-image02 {
  width: 210px;
  height: 407px;
  object-fit: cover;
}
.home-section1 {
  height: 611px;
  display: none;
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width3 {
  align-items: stretch;
}
.home-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text13 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text21 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-content3 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text22 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text30 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-section2 {
  display: none;
  background-color: var(--dl-color-scheme-orange80);
}
.home-max-width4 {
  align-items: stretch;
}
.home-image03 {
  width: 50%;
}
.home-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.home-content4 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text31 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text33 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text34 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text35 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container07 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text36 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step2 {
  display: flex;
  flex-direction: row;
}
.home-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text37 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text38 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-section3 {
  height: 707px;
  padding-top: var(--dl-space-space-halfunit);
}
.home-features {
  width: 1401px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-container09 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-feature-card {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-image04 {
  width: 199px;
  height: 134px;
  object-fit: cover;
}
.home-text39 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text40 {
  color: #999999;
  text-align: center;
}
.home-feature-card1 {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-image05 {
  width: 233px;
  height: 140px;
  object-fit: cover;
}
.home-text41 {
  width: 175px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text42 {
  color: #999999;
  text-align: center;
}
.home-feature-card2 {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-image06 {
  width: 243px;
  height: 124px;
  object-fit: cover;
}
.home-text43 {
  width: 234px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text44 {
  color: #999999;
  text-align: center;
}
.home-feature-card3 {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-image07 {
  width: 210px;
  height: 152px;
  object-fit: cover;
}
.home-text45 {
  width: 222px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  color: rgb(153, 153, 153);
  text-align: center;
}
.home-section4 {
  height: 280px;
  padding-top: 0px;
}
.home-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text47 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text49 {
  font-family: Urbanist;
}
.home-text51 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text52 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon02 {
  width: 12px;
  height: 12px;
}
.home-ff {
  margin-top: 8px;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text53 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon04 {
  width: 12px;
  height: 12px;
}
.home-text54 {
  margin-top: 8px;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text55 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon06 {
  width: 12px;
  height: 12px;
}
.home-text56 {
  margin-top: 8px;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text57 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon08 {
  width: 12px;
  height: 12px;
}
.home-text58 {
  margin-top: 8px;
}
.home-image08 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.home-banner {
  width: 100%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%20115%403x-1200w.png");
}
.home-text59 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text60 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text61 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-link2 {
  font-size: 16px;
  padding-top: 12px;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-lightgreen);
}
.home-image09 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .home-max-width1 {
    width: 1018px;
  }
  .home-content {
    width: 535px;
  }
  .home-title {
    width: 699px;
    padding-left: var(--dl-space-space-unit);
  }
  .home-container01 {
    width: 283px;
    height: 242px;
  }
  .home-image01 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-section3 {
    width: 100%;
    height: 745px;
    display: flex;
    padding-top: 13px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features {
    width: 100%;
    height: 752px;
  }
  .home-feature-card {
    width: 252px;
    padding-top: 32px;
  }
  .home-image04 {
    width: 217px;
    height: 138px;
  }
  .home-feature-card1 {
    width: 252px;
    padding-top: 32px;
  }
  .home-image05 {
    width: 217px;
    height: 129px;
  }
  .home-text41 {
    width: 169px;
  }
  .home-feature-card2 {
    width: 252px;
    padding-top: 32px;
  }
  .home-image06 {
    width: 231px;
    height: 124px;
  }
  .home-feature-card3 {
    width: 252px;
    padding-top: 32px;
  }
  .home-image07 {
    width: 207px;
    height: 152px;
  }
}
@media(max-width: 991px) {
  .home-max-width1 {
    width: 944px;
  }
  .home-title {
    width: 537px;
  }
  .home-container01 {
    width: 397px;
    height: 371px;
  }
  .home-image01 {
    width: 350px;
    height: 346px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .home-section3 {
    height: 1088px;
    display: flex;
    padding-top: 4px;
  }
  .home-features {
    width: 903px;
    height: 1001px;
    padding-left: 0px;
  }
  .home-container09 {
    width: 780px;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
  }
  .home-feature-card {
    width: 408px;
  }
  .home-image04 {
    width: 349px;
    height: 220px;
  }
  .home-feature-card1 {
    width: 408px;
  }
  .home-image05 {
    width: 366px;
    height: 221px;
  }
  .home-feature-card2 {
    width: 408px;
  }
  .home-image06 {
    width: 372px;
    height: 202px;
  }
  .home-feature-card3 {
    width: 408px;
  }
  .home-image07 {
    width: 267px;
    height: 194px;
  }
}
@media(max-width: 767px) {
  .home-max-width1 {
    width: 640px;
  }
  .home-content {
    width: 519px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-title {
    width: 398px;
    padding-left: var(--dl-space-space-halfunit);
  }
  .home-container01 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 72px;
  }
  .home-image01 {
    width: 281px;
    height: 278px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .home-section3 {
    height: 1076px;
    padding-top: var(--dl-space-space-halfunit);
  }
  .home-features {
    width: 612px;
    padding-left: 0px;
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container09 {
    width: 566px;
    margin-left: 0px;
  }
  .home-feature-card {
    width: 298px;
  }
  .home-image04 {
    width: 269px;
    height: 169px;
  }
  .home-feature-card1 {
    width: 298px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image05 {
    width: 274px;
    height: 169px;
  }
  .home-feature-card2 {
    width: 298px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image06 {
    width: 100%;
    height: 160px;
  }
  .home-text43 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text44 {
    color: rgb(153, 153, 153);
  }
  .home-feature-card3 {
    width: 298px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image07 {
    width: 267px;
    height: 196px;
  }
}
@media(max-width: 479px) {
  .home-icon {
    fill: var(--dl-color-scheme-lightgreen);
  }
  .home-hero {
    height: 433px;
    padding-bottom: 0px;
    background-color: var(--dl-color-scheme-lblue);
  }
  .home-max-width1 {
    width: 385px;
    height: 50%;
  }
  .home-content {
    width: 374px;
    height: 237px;
    margin-left: 0px;
  }
  .home-title {
    color: var(--dl-color-scheme-white);
    width: 430px;
    height: 190px;
    font-size: 52px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.2;
    padding-left: 0px;
    margin-bottom: 19px;
  }
  .home-description {
    color: var(--dl-color-scheme-white);
    font-size: 18px;
    line-height: 1.5;
  }
  .home-link1 {
    margin-top: 0px;
  }
  .home-container01 {
    display: none;
  }
  .home-text10 {
    color: var(--dl-color-scheme-yellow80);
  }
  .home-text11 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text12 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text14 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text15 {
    font-family: Urbanist;
  }
  .home-text21 {
    line-height: 1.5;
  }
  .home-text23 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text24 {
    font-family: Urbanist;
  }
  .home-text30 {
    line-height: 1.5;
  }
  .home-section3 {
    height: 2156px;
    padding-top: var(--dl-space-space-halfunit);
  }
  .home-features {
    width: 376px;
    height: 978px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container09 {
    width: 376px;
    grid-template-columns: 1fr;
  }
  .home-feature-card {
    width: 383px;
  }
  .home-image04 {
    width: 370px;
    height: 240px;
  }
  .home-feature-card1 {
    width: 383px;
  }
  .home-image05 {
    width: 100%;
    height: 214px;
  }
  .home-feature-card2 {
    width: 383px;
  }
  .home-image06 {
    width: 100%;
    height: 206px;
  }
  .home-feature-card3 {
    width: 383px;
  }
  .home-image07 {
    width: 302px;
    height: 219px;
  }
  .home-text52 {
    font-size: 20px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text53 {
    font-size: 20px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-scheme-green80);
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
