.component1-container {
  display: flex;
  position: relative;
}
.component1-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .component1-text {
    font-size: 3rem;
  }
  .component1-text2 {
    color: var(--dl-color-scheme-blackish);
  }
}
@media(max-width: 991px) {
  .component1-text {
    font-size: 3rem;
    text-align: center;
  }
  .component1-text2 {
    color: var(--dl-color-scheme-blackish);
  }
}
@media(max-width: 767px) {
  .component1-text {
    font-size: 3rem;
    text-align: center;
  }
  .component1-text2 {
    color: var(--dl-color-scheme-blackish);
  }
}
@media(max-width: 479px) {
  .component1-text {
    width: 354px;
  }
}
