<div>
  <link href="./feature-card4.css" rel="stylesheet" />
  <div class="feature-card4-feature-card">
    <img
      alt="image"
      src="044a8509-36ef-455c-a182-e8ab8c76f4f4"
      class="feature-card4-image"
    />
    <h2 class="feature-card4-text"><span>Right Info, Right Time</span></h2>
    <span class="feature-card4-text1">
      <span>
        Check travel time, weather, and essential items before you leave, all
        without leaving the app. Keep track of all of your relevant notes,
        checklists, and contacts for scheduled items with just a tap.
      </span>
    </span>
  </div>
</div>
