.feature-card34-feature-card {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.feature-card34-image {
  width: 199px;
  height: 134px;
  object-fit: cover;
}
.feature-card34-text {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card34-text1 {
  color: #999999;
  text-align: center;
}

@media(max-width: 1200px) {
  .feature-card34-feature-card {
    width: 252px;
    padding-top: 32px;
  }
  .feature-card34-image {
    width: 217px;
    height: 138px;
  }
}
@media(max-width: 991px) {
  .feature-card34-feature-card {
    width: 408px;
  }
  .feature-card34-image {
    width: 349px;
    height: 220px;
  }
}
@media(max-width: 767px) {
  .feature-card34-feature-card {
    width: 298px;
  }
  .feature-card34-image {
    width: 269px;
    height: 169px;
  }
}
@media(max-width: 479px) {
  .feature-card34-feature-card {
    width: 383px;
  }
  .feature-card34-image {
    width: 370px;
    height: 240px;
  }
}
