<div>
  <link href="./feature-card34.css" rel="stylesheet" />
  <div class="feature-card34-feature-card">
    <img
      alt="image"
      src="56e0ea8d-4b75-4f06-b150-682807e6d6d8"
      class="feature-card34-image"
    />
    <h2 class="feature-card34-text"><span>Flexible Scheduling</span></h2>
    <span class="feature-card34-text1">
      <span>
        No one can be 100% certain they'll really unload the dishwasher at 6 PM.
        Schedule tasks that flex with your day with Time Windows like Evening or
        create custom Schedule Rules like "after work ends".
      </span>
    </span>
  </div>
</div>
