<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-feature-card">
    <img
      alt="image"
      src="e534c82c-a60d-4810-be73-66679121afd5"
      class="feature-card-image"
    />
    <h2 class="feature-card-text"><span>Less Telling, More Showing</span></h2>
    <span class="feature-card-text1">
      <span>
        Understand things at a glance at Cogni.do's highly visual UI--from your
        free time in the evening to the priority and deadline of your upcoming
        task. Less text to clutter up your screen leaves room for the
        information that matters most.
      </span>
    </span>
  </div>
</div>
