<div>
  <link href="./feature-card5.css" rel="stylesheet" />
  <div class="feature-card5-feature-card">
    <img
      alt="image"
      src="public/playground_assets/flexibleschedule-300h.png"
      class="feature-card5-image"
    />
    <h2 class="feature-card5-text"><span>Flexible Scheduling</span></h2>
    <span class="feature-card5-text1">
      <span>
        No one can be 100% certain they'll really unload the dishwasher at 6 PM.
        Schedule tasks that flex with your day with Time Windows like Evening or
        create custom Schedule Rules like "after work ends".
      </span>
    </span>
  </div>
</div>
