.feature-card8-feature-card {
  width: 271px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.feature-card8-image {
  width: 210px;
  height: 152px;
  object-fit: cover;
}
.feature-card8-text {
  width: 222px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card8-text1 {
  color: rgb(153, 153, 153);
  text-align: center;
}
@media(max-width: 1200px) {
  .feature-card8-feature-card {
    width: 252px;
    padding-top: 32px;
  }
  .feature-card8-image {
    width: 207px;
    height: 152px;
  }
  .feature-card8-text {
    color: var(--dl-color-scheme-blackish);
  }
}
@media(max-width: 991px) {
  .feature-card8-feature-card {
    width: 408px;
  }
  .feature-card8-image {
    width: 267px;
    height: 194px;
  }
}
@media(max-width: 767px) {
  .feature-card8-feature-card {
    width: 298px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .feature-card8-image {
    width: 267px;
    height: 196px;
  }
}
@media(max-width: 479px) {
  .feature-card8-feature-card {
    width: 383px;
  }
  .feature-card8-image {
    width: 302px;
    height: 219px;
  }
}
