<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <div class="feature-card1-feature-card">
    <img
      alt="image"
      src="public/playground_assets/task%20page%20copy-300h.jpeg"
      class="feature-card1-image"
    />
    <h2 class="feature-card1-text"><span>View It, Don't Lose It</span></h2>
    <span class="feature-card1-text1">
      <span>
        No more basic task lists that silo your tasks into different lists.
        Create completely customizable Views of your tasks with individual
        widgets that filter and display your tasks in endless possibilities that
        lose nothing.
      </span>
    </span>
  </div>
</div>
